/* 
section{
    font-weight: bold;
    color: black;
}

p{
    color:blue !important;
}

.red{
    color:red
}

#title{
    color: black;
}

p.red{
    color:darkred;
}
/* 
#title.heading.red{
    color:darkblue;
} */ 